<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Customer Registeration</title>
</head>
<body>
	<div align="center">
	<div>
		<h1>Customer List</h1>
			<a href="dashboard">Back to Dashboard</a>
	</div>
	<div>&nbsp;</div>

		<div>
			<form th:action="@{customer/}">
				Filter: <input type="text" name="keyword" required /> &nbsp; 
				<input type="submit" value="Search" /> &nbsp; 
				<input type="button" value="Clear" onclick="clearFilter()" />
			</form>
		</div>

		<div>&nbsp;</div>


		<div>
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>Customer ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer: ${listCustomers}">
						<td th:text="${customer.id}">Customer ID</td>
						<td th:text="${customer.fname}">First Name</td>
						<td th:text="${customer.lname}">Last Name</td>
						<td th:text="${customer.email}">Email</td>
						<td th:text="${customer.phone}">Phone</td>
						<td th:text="${customer.address}">Address</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
function clearFilter(){
	window.location='customer/';
}
</script>
</body>
</html>
